.sidebar {
    background-color: #f0f2f5;
    height: 40px;
    flex-direction: column;
    display: flex;
    width: 250px;
    overflow-y: scroll hidden;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid lightgray;
  }
  .sidebar__right {
    display: flex;
    padding: 13px;
    align-items: center;
    height: 20px;
  }
  .sidebar__right > h3 {
    margin-left: 5px;
    font-weight: 500;
    font-size: medium;
  }
  .sidebar__right:hover {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
  }
  .sidebar__right > .MuiSvgIcon-root {
    color: #1877f2;
  }
  
  .sidebar__right > .MuiAvatar-root {
    height: 25px !important;
    width: 25px;
  }
  
  .sidebar__right > img {
    height: 28px;
  }